
body {
	background-color: #323D45;
}

.event-table {
	margin-top: 20%;
}

.event-card {
	margin-top: 10%;
}

.event-descript {
	margin-top: 10%;
}

.name {
	margin-top: 20%;
}

.profile-pic {
	margin-top: 10%;
}
